<!DOCTYPE>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
    <meta name="description" content="不超过150个字符"/>
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="index,follow"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" type="text/css" href="__STATIC__/game/css/play.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/game/css/opentip.css">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<style>
    .photo{display: none;}
    .msgshow{
        position: fixed;
        bottom:0;
        left:0;
        right:0;
        background: rgba(0,0,0,0.8);
        color: #fff;
        padding:5px;
        font-size: 12px;
    }

    .cardsbox{position: relative; display: none;}
    .cardsbox img{width: 40px;}
    .cardsbox .pic1{position: absolute; left: 0px; z-index: 1;}
    .cardsbox .pic2{position: absolute; left: 10px; z-index: 1;}
    .cardsbox .pic3{position: absolute; left: 20px; z-index: 1;}
    .cardsbox .pic4{position: absolute; left: 30px; z-index: 1;}
    .cardsbox .pic5{position: absolute; left: 40px; z-index: 1;}
    .niuname{position: absolute; display: none; z-index: 5; top:15px; font-size: 14px; width:100%; text-align: center; color:#f00;}
    .niuname img{width: 80px;}
.last-time{display: none;}
    .tanpai{display:none;}
    .cards{display: none;}
</style>
    <!-- 游戏准备按钮 -->
    <img id="gameready" onclick="gameready1();" src="__STATIC__/game/img/init.png" style="position:absolute;top: 50%; left: 50%; z-index: 3; margin-left:-50px; width: 100px; {eq name="memberinfo['gamestatus']" value="1"}display:none;{/eq}">
<div class="overlay"></div>
<div class="rules" style="display: none;">
    <img src="__STATIC__/game/img/closes.png">

    <div class="cons">
        <h2>游戏规则</h2>
        <ul>
            <p>创建房间,游戏未进行,不消耗房卡</p>
            <li>模式:<span>通比牛牛</span></li>
            <li>底分:<span>5分</span></li>
            <li>规则:<span>牛牛x3牛九x2牛八x2</span></li>
            <li>牌型:<span>五小牛(8倍)</span></li>
            <li>局数:<span>10局x1房卡</span></li>
        </ul>
    </div>
</div>

<div class="invite" style="position: absolute;top: 1rem;width: 100%;z-index: 100000;display: none;">
    <img src="__STATIC__/game/img/arrow.png" style="width: 5rem;float: right;">
    <p style="color: white;margin:7rem auto;width: 16rem;">
        <span style="display: inline-block;width: 1.5rem;height: 1.5rem;border-radius: 50%;background: red;color: white;text-align: center;line-height: 1.5rem;margin-right: 0.3rem;">1</span>请点击右上角<img src="__STATIC__/game/img/ico1.png" style="width: 1.5rem;vertical-align: middle;margin:0 0.3rem;">按钮<br/><br/>
        <span style="display: inline-block;width: 1.5rem;height: 1.5rem;border-radius: 50%;background: red;color: white;text-align: center;line-height: 1.5rem;margin-right: 0.3rem;">2</span>选择<img src="__STATIC__/game/img/ico2.png" style="width: 1.5rem;vertical-align: middle;margin:0 0.3rem;">发送给朋友来要请好友<br/><br/>
        <span style="color: #E6A43F;">本产品仅供娱乐，禁止用于赌博</span>
    </p>
</div>

<div class="container">
    <div class="header">
        <img src="__STATIC__/game/img/tb.png" width="100%" style="position: absolute;z-index: -1;height: 3.2rem;">
        <img src="__STATIC__/game/img/roomCard.png"
             style="width: 2em;margin:0.3rem 0 0 1rem;vertical-align: middle;"><span
            style="display: inline-block;padding:0.3rem 0.6rem 0.3rem 0.4rem;background:#564C4A;color: #eee;font-size: 1rem;line-height:1rem;border-top-right-radius: 0.9rem;border-bottom-right-radius: 0.9rem;border: 1px solid #666;vertical-align: bottom;margin-bottom: 0.4rem;"><span id="roomcards">{$room.room_cards_num}</span>张</span>

        <p class="round"><span id="playcount">{$room.playcount}</span>/<span>10</span>&nbsp;局</p>

        <p class="msg-action"><img src="__STATIC__/game/img/guize.png" class="rule"><img
                src="__STATIC__/game/img/guanzhu.png"><img class="inviteico" src="__STATIC__/game/img/invite.png"></p>
    </div>
    <div class="desk">
        <div class="players1">
            <div class="photo" id="player_1">
                <img src="__STATIC__/game/img/33.png" style="width: 2.5rem;height: 2.5rem;">

                <p><span style="max-width: 2.2rem;font-size: 0.6rem;" class="nickname">不一样的烟火不一样的烟火</span><br/><span class="money">34</span></p>
                <div class="cardsbox" style="bottom:45px; right:85px;">
                    <img class="pic1" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic2" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic3" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic4" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic5" src="__STATIC__/game/img/pai/0.png">
                    <div class="niuname">未知</div>
                </div>
            </div>
            <div class="photo" id="player_2">
                <img src="__STATIC__/game/img/33.png" style="width: 2.5rem;height: 2.5rem;">

                <p><span style="max-width: 2.2rem;font-size: 0.6rem;" class="nickname">不一样的烟火不一样的烟火</span><br/><span class="money">34</span></p>
                <div class="cardsbox" style="bottom:45px; right:85px;">
                    <img class="pic1" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic2" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic3" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic4" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic5" src="__STATIC__/game/img/pai/0.png">
                    <div class="niuname">未知</div>
                </div>
            </div>
        </div>
        <div class="players2">
            <div class="photo"  id="player_3">
                <img src="__STATIC__/game/img/33.png" style="width: 2.5rem;height: 2.5rem;">

                <p><span style="max-width: 2.2rem;font-size: 0.6rem;" class="nickname">不一样的烟火不一样的烟火</span><br/><span class="money">34</span></p>


                <div class="cardsbox" style="bottom:45px; left:50px;">
                    <img class="pic1" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic2" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic3" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic4" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic5" src="__STATIC__/game/img/pai/0.png">
                    <div class="niuname">未知</div>
                </div>


            </div>
            <div class="photo"  id="player_4">
                <img src="__STATIC__/game/img/33.png" style="width: 2.5rem;height: 2.5rem;">

                <p><span style="max-width: 2.2rem;font-size: 0.6rem;" class="nickname">不一样的烟火不一样的烟火</span><br/><span class="money">34</span></p>

                <div class="cardsbox" style="bottom:45px; left:50px;">
                    <img class="pic1" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic2" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic3" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic4" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic5" src="__STATIC__/game/img/pai/0.png">
                    <div class="niuname">未知</div>
                </div>

            </div>
        </div>
        <div class="players3">
            <div class="photo" id="player_0">
                <img src="__STATIC__/game/img/33.png" style="width: 2.5rem;height: 2.5rem;">

                <p><span style="max-width: 2.2rem;font-size: 0.6rem;" class="nickname">不一样的烟火不一样的烟火</span><br/><span class="money">34</span></p>
                <div class="cardsbox" style="bottom:45px; left:50px;">
                    <img class="pic1" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic2" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic3" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic4" src="__STATIC__/game/img/pai/0.png">
                    <img class="pic5" src="__STATIC__/game/img/pai/0.png">
                    <div class="niuname">未知</div>
                </div>
            </div>
        </div>
        <p class="last-time">等待摊牌<span>15</span></p>
        <img src="__STATIC__/game/img/tanpai.png" onclick="tanpai();" class="tanpai">

        <div class="cards">




            <img src="__STATIC__/game/img/pai/0.png"><img src="__STATIC__/game/img/pai/0.png"><img
                src="__STATIC__/game/img/pai/0.png"><img src="__STATIC__/game/img/pai/0.png"><img
                src="__STATIC__/game/img/pai/0.png"><div class="niuname">未知</div>
        </div>
    </div>
    <div class="msg">
        <div class="photo" style="display: block;">
            <img src="{$memberinfo.photo}" style="width: 3.5rem;height: 3.5rem;">

            <p><span>{$memberinfo.nickname}</span><br/><span>{$memberinfo.money}</span></p>
        </div>
        <div class="base-bet">
            <p>底注：<span>{$gamerule.score}</span>分</p>
        </div>
        <img src="__STATIC__/game/img/xiaoxi.png" style="width: 2.6rem;height: 2.2rem;">
        <ul>
            <li onclick="sendmsg('我出去叫人');">我出去叫人</li>
            <li onclick="sendmsg('裤衩都输掉了啊');">裤衩都输掉了啊</li>
            <li onclick="sendmsg('整快点好不好');">整快点好不好</li>

            <li onclick="sendmsg('我等到花儿都谢了');">我等到花儿都谢了</li>
        </ul>
    </div>
</div>
<script src="__STATIC__/game/js/jquery-1.12.1.js"></script>
<script src="//cdn.bootcss.com/socket.io/1.3.7/socket.io.js"></script>
<script src="__STATIC__/game/js/lib/opentip.js"></script>
<script src="__STATIC__/js/countdown.js"></script>
<script src="__STATIC__/game/js/lib/adapter-jquery.js"></script>
<script type="text/javascript">

    function tanpaicountdown(initcount){
    $('.last-time span').countdown({initcount:initcount,end:function(){
        $('.last-time').hide();
        tanpai();
    }});
        $('.last-time').show();
    }

    $(function () {
        $(".msg>img").click(function () {
            $(".msg ul").toggle();
        })
        $(".rule").click(function () {
            $(".rules").add(".overlay").show();
        })
        $(".rules>img").click(function () {
            $(".rules").add(".overlay").hide();
        })


        $(".inviteico").click(function(){
            $(".overlay").addClass("overlay1");
            $(".invite").add(".overlay1").show();

            $(".overlay1,.invite").click(function(){
                $(".invite,.overlay1").hide();
                $(".overlay").removeClass("overlay1");
            })
        })



    })

</script>
<script>
    function strToJson(str) {
        console.log(str);
        var json = eval('(' + str + ')');
        return json;
    }
    $(document).ready(function () {
        // 连接服务端
        var socket = io('http://' + document.domain + ':2120');
        // 连接后登录
        socket.on('connect', function () {
            $.post('{:url('comein', array('room_id' => input('room_id')))}', { }, function (ret) {
                socket.emit('login', {$memberinfo.id});
            }, 'json'
            );

        });

        socket.on('update_online_count', function (userlist) {
            //有人加入时更新界面，服务器发来所有用户数据
            //alert(userlist);
            $.post('{:url('allmember')}', {userlist:userlist}, function (ret) {

            }, 'json'
            );
        });
        socket.on('update_offline', function (userid) {
            //有人退出\断线时
            $.post('{:url('comeout')}', {memberid:userid}, function (ret) {
                $('.member__'+userid).hide();
            }, 'json'
            );

        });

        // 后端推送来消息时
        socket.on('new_msg', function (msg) {
            var ret = strToJson(msg);
            //msg.type 1是接收用户发送的信息
            if (ret.type == 1) {
                msgshow(ret.info, ret.from);
            }


            //传来房间中其它会员的信息，得到后加入到界面中显示出来，数据是一个json数组
            if(ret.type == 4){
                console.log(ret);
                //alert(ret.data.length);
                $('#playcount').html(ret.room['playcount']);
                //更新房卡
                $('#roomcards').html(ret.room['room_cards_num']);
                for(var i =0; i < ret.data.length; i++){
                    $('#player_'+i).find('img').eq(0).attr('src', ret.data[i].photo);
                    $('#player_'+i).find('.nickname').html(ret.data[i].nickname);
                    $('#player_'+i).find('.money').html(ret.data[i].money);
                    $('#player_'+i).addClass('member__'+ret.data[i].id);
                    $('#player_'+i).show();

                    if(ret.gamestatus == 0){
                        //当前会员未准备状态，重置游戏界面，把准备按钮显示出来，合理的这里其实是一个再来一局的按钮，没关系
                        $('#gameready').show();
                        continue;
                    }
                    //游戏没有开始不要更新界面，return false;
                    if(ret.start == false){

                        continue;
                    }


                    if(ret.gamestatus == 1){
                        //刚准备好，发牌完毕
                        $('.cards').show();
                        $('.tanpai').show();

                        $('#gameready').hide();
                        //摊牌倒计时
                        tanpaicountdown(ret.room.taipaitime);
                    }else if(ret.gamestatus == 2){
                        //已经摊牌
                        $('.tanpai').hide();
                        $('.cards .niuname').html('<img width="120" src="__STATIC__/game/img/niu'+ret.info+'.png" >').show();


                    }
                    for(var k=0;k<ret.pai.length; k++){
                        $('.cards img').eq(k).attr('src', '__STATIC__/game/img/pai/'+ret.pai[k]+'.png');
                    }
                    if(ret.data[i]['gamestatus'] > 0){
                        for(var j=0;j<ret.data[i]['pai'].length; j++){
                            $('#player_'+i).find('.cardsbox img').eq(j).attr('src', '__STATIC__/game/img/pai/'+ret.data[i]['pai'][j]+'.png');
                        }
                        if(ret.data[i]['gamestatus'] == 1){

                        }
                        if(ret.data[i]['gamestatus'] == 2){
                            $('#player_'+i).find('.cardsbox .niuname').html('<img width="120" src="__STATIC__/game/img/niu'+ret.data[i]['info']+'.png" >');
                            $('#player_'+i).find('.cardsbox .niuname').show();
                        }
                        $('#player_'+i).find('.cardsbox').show();
                    }




                }
            }

        });



    });


    function msgshow(msg, memberid){
        var playerid =$('.member__'+memberid).attr('id');
        var myInput = $('.member__'+memberid);
        var config = {};

        switch (playerid){
            case 'player_0' : config = {target:true, hideDelay:0.2, tipJoint:"center top",removeElementsOnHide:true}; break;
            case 'player_1' : config =  {target:true, hideDelay:0.2, tipJoint:"right",removeElementsOnHide:true}; break;
            case 'player_2' : config =  {target:true, hideDelay:0.2, tipJoint:"right", removeElementsOnHide:true}; break;

            case 'player_3' : config =   {target:true, hideDelay:0.2, tipJoint:"left",removeElementsOnHide:true}; break;
            case 'player_4' : config =  {target:true, hideDelay:0.2, tipJoint:"left",removeElementsOnHide:true}; break;
        }
        var inputOpentip = new Opentip(myInput, config);

        inputOpentip.show();
        inputOpentip.setContent(msg);
        setTimeout(function(){
            inputOpentip.hide();
        },1500);



    }

    function sendmsg(msg) {
        $('.msg ul').hide();
        $.post('{:url('sendmsg')}', {data:msg}, function (ret) {

        }, 'json'
    )
        ;
    }

    function gameready1(){

        $('.niuname').hide();
        $('.cards').hide();
        $('.tanpai').hide();
        $('.cardsbox').hide();
        $.post('{:url('gameready')}', {}, function (ret) {
           $('#gameready').hide();



        }, 'json'
    )
        ;
    }

    //摊牌
    function tanpai(){
        $('.last-time span').countdown();
        $.post('{:url('showall')}', {}, function (ret) {
            $('.tanpai').hide();
            $('.last-time').hide();
        }, 'json'
    )
        ;
    }
</script>

</body>
</html>