<audio id="mp3niu0" src="__STATIC__/game/video/nv_niu0.mp3"></audio>
<audio id="mp3niu1" src="__STATIC__/game/video/nv_niu1.mp3"></audio>
<audio id="mp3niu2" src="__STATIC__/game/video/nv_niu2.mp3"></audio>
<audio id="mp3niu3" src="__STATIC__/game/video/nv_niu3.mp3"></audio>
<audio id="mp3niu4" src="__STATIC__/game/video/nv_niu4.mp3"></audio>
<audio id="mp3niu5" src="__STATIC__/game/video/nv_niu5.mp3"></audio>
<audio id="mp3niu6" src="__STATIC__/game/video/nv_niu6.mp3"></audio>
<audio id="mp3niu7" src="__STATIC__/game/video/nv_niu7.mp3"></audio>
<audio id="mp3niu8" src="__STATIC__/game/video/nv_niu8.mp3"></audio>
<audio id="mp3niu9" src="__STATIC__/game/video/nv_niu9.mp3"></audio>
<audio id="mp3niu10" src="__STATIC__/game/video/nv_niuniu.mp3"></audio>
<audio id="mp3niu11" src="__STATIC__/game/video/nv_wuhua.mp3"></audio>
<audio id="mp3niu12" src="__STATIC__/game/video/nv_zha.mp3"></audio>
<audio id="mp3niu13" src="__STATIC__/game/video/nv_wuxiao.mp3"></audio>
<audio id="background" autoplay="autoplay" loop="loop" src="__STATIC__/game/video/background.mp3"></audio>

<script>
    function mp3play(id){
        document.getElementById(id).play();
    }

        mp3play('background');


</script>